name: BuildTest

on:
  pull_request:
    branches:
      - main

jobs:
  build-test:
    name: buildtest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun install
      - run: bun run build
      - run: bun test
