name: Publish NPM Package

on:
  release:
    types: [published]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun install && bun test

  publish-npm:
    needs: test
    runs-on: ubuntu-latest
    concurrency: "run"
    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - name: Setup git config
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
      - name: Build App
        run: |
          bun install && bun run build
      - name: Publish with npm
        run: |
          echo "publishing with version ${{ github.event.release.tag_name }}"
          npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
